:root {
    --text-color: #757575;
    --title-color: #212121;
    --accent-font-color: #ffffff;
    --accent-color: #2196f3;
    --background-dark: #2f303a;
    --background-light: #f5f4fa;
    --social-icons-main: #afb1b8;
    --main-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }