.section__hero {
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/main-page/mobile/bg-main-mobile.jpg), linear-gradient(#c4c4c4, #c4c4c4);
background-size: cover;
padding-top: 118px;
padding-bottom: 118px;
height: 400px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section__hero {  
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/main-page/mobile/bg-main-mobile@2x.jpg), linear-gradient(#c4c4c4, #c4c4c4);    
}
}
@media screen and (min-width: 768px) {
    .section__hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/main-page/tablet/bg-main-tablet.jpg), linear-gradient(#c4c4c4, #c4c4c4);    
}
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section__hero {  
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/main-page/tablet/bg-main-tablet@2x.jpg), linear-gradient(#c4c4c4, #c4c4c4);    
}
}
@media screen and (min-width: 1200px) {
    .section__hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/main-page/desktop/bg-main-desktop.jpg), linear-gradient(#c4c4c4, #c4c4c4);
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;    
}
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section__hero {  
background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/main-page/desktop/bg-main-desktop@2x.jpg), linear-gradient(#c4c4c4, #c4c4c4);    
}
}
.title__hero {
color: var(--accent-font-color);
@include font (26px, 900, 42px, 0.06em);
text-transform: uppercase;
text-align: center;
display: block;
max-width: 360px;
margin: 0 auto;
margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
.title__hero {
@include font (44px, 900, 60px, 0.06em);
max-width: 696px;
}
}