* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  body ul {
    list-style: none;
  }
  body a {
    text-decoration: none;
  }
  .container {
  width: 100%;
  margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
  }